.custom-dropdown-item:hover {
  background-color: lightblue !important; 
}

.review-card {
  background-color: blue; 
  border: 100px solid red; 
  border-radius: 80px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 40px red;
  transition: transform 0.3s ease-in-out;
}

.review-card:hover {
  transform: translateY(-5px);
}

.rating-stars {
  color: blue;
  border: blue; 
  margin-bottom: 10px;
}

.star-icon {
  font-size: 1.2rem;
  margin-right: 2px;
}

.card-img-top {
  width: 100%;
  height: 600px;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; 
}

.about {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}
