
.custom-dropdown-item:hover {
  background-color: lightblue !important; 
}

.review-card {
  background-color: blue; 
  border: 100px solid red; 
  border-radius: 80px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 40px red;
  transition: transform 0.3s ease-in-out;
}

.review-card:hover {
  transform: translateY(-5px);
}

.rating-stars {
  color: blue;
  border: blue; 
  margin-bottom: 10px;
}

.star-icon {
  font-size: 1.2rem;
  margin-right: 2px;
}

.card-img-top {
  width: 100%;
  height: 600px;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; 
}

.about {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

.storage{
  height: 300px; /* Adjust the height as needed */
  object-fit: cover;
  width: 100%;
}

.emergency-banner {
  background: linear-gradient(to right, red, white, blue);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

.emergency-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.subtext {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.call-now {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.call-now:hover {
  text-decoration: underline;
}
